@import models.Restaurant
@(restaurantForm: Form[Restaurant])
@import helper._

@layout("New Restaurant"){
    <h1>Create New Restaurant</h1>

    @helper.form(action = routes.RestaurantController.saveRestaurantChanges()) {
        @helper.inputText(restaurantForm("restaurantName"))
        @helper.inputText(restaurantForm("legalName"))
        @helper.inputText(restaurantForm("inn"))
        @helper.inputText(restaurantForm("address"))

        <br>

        <input type="submit" value="Create Restaurant">
    }
}