@(restaurantForm: Form[Restaurant])
@import helper._

<html>
    <head>
        <title>New Restaurant</title>
    </head>
    <body>
        <h1>Create New Restaurant</h1>

        @helper.form(action = routes.HomeController.save()) {
            @helper.inputText(restaurantForm("restaurantName"))
            @helper.inputText(restaurantForm("legalName"))
            @helper.inputText(restaurantForm("inn"))
            @helper.inputText(restaurantForm("address"))

            <br>

            <input type="submit" value="Create Restaurant">
            }
    </body>

</html>