@import models.Restaurant
@(restaurantForm: Form[Restaurant])
@import helper._

@layout("New Restaurant"){
    <h1>Create New Restaurant</h1>
    <br>
    @helper.form(action = routes.RestaurantController.saveRestaurantChanges()) {

        @helper.inputText(restaurantForm("restaurantName"), 'class -> "form-control")
        @helper.inputText(restaurantForm("legalName"), 'class -> "form-control")
        @helper.inputText(restaurantForm("inn"), 'class -> "form-control")
        @helper.inputText(restaurantForm("address"), 'class -> "form-control")

        <br>

        <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-plus-sign"></i> Create Restaurant</button>
    }
}