@import entities.Restaurant
@(restaurantForm: Form[Restaurant])
@import helper._

<html>
    <head>
        <title>Edit Restaurant</title>
    </head>
    <body>
        <h1>Edit Restaurant</h1>

        @helper.form(action = routes.HomeController.update()) {
            @helper.inputText(restaurantForm("RestaurantName"))
            @helper.inputText(restaurantForm("LegalName"))
            @helper.inputText(restaurantForm("INN"))
            @helper.inputText(restaurantForm("Address"))

            <br>

            <input type="submit" value="Edit Restaurant">
            }
    </body>

</html>