@import entities.Restaurant
@import entities.Visitor
@(restaurants : Set[Restaurant])(visitors : Set[Visitor])
@import helper._

<html>
    <head>
        <title>Welcome!</title>
    </head>
    <body>

        <h1>Welcome to the Rest-o-matic!</h1>

        <h2>All Restaurants</h2>

        <input value="Add New Restaurant" type="submit" onclick=""/> <input value="Add New Visitor" type="submit" onclick=""/>
        <br><br>

        @for(restaurant <- restaurants) {
            <table border="1px solid grey">
                <tr>
                    <th>@restaurant.getRestaurantName</th>
                    <th>Information</th>
                </tr>
                <tr>
                    <td>Legal Name</td>
                    <td>@restaurant.getLegalName</td>
                </tr>
                <tr>
                    <td>INN</td>
                    <td>@restaurant.getInn</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>@restaurant.getAddress</td>
                </tr>
            </table>
            <br>
            }

        <h2>All Visitors</h2>

        @for(visitor <- visitors) {
            <table border="1px solid grey">
                <tr>
                    <th>@visitor.getFirstName</th>
                    <th>Information</th>
                </tr>
                <tr>
                    <td>Legal Name</td>
                    <td>@visitor.getLastName</td>
                </tr>
                <tr>
                    <td>INN</td>
                    <td>@visitor.getEmail</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>@visitor.getPhoneNumber</td>
                </tr>
            </table>
            <br>
            }

    </body>

</html>