@import models.Restaurant
@import helper._

@(restaurant : Restaurant)(visitors : List[Visitor])

@layout(restaurant.getRestaurantName){
    <h2>@restaurant.getRestaurantName</h2>
    <br>
    <a class="btn btn-primary" href="@routes.RestaurantController.editRestaurant(restaurant.getRestaurantName)">Edit Restaurant</a> <a class="btn btn-danger" href="@routes.RestaurantController.destroyRestaurant(restaurant.getRestaurantName)">Remove Restaurant</a>

    <br><br>

    <table class="table table-striped">
        <tr>
            <th colspan="5">Information</th>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>@restaurant.getLegalName</td>
        </tr>
        <tr>
            <td>INN</td>
            <td>@restaurant.getInn</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>@restaurant.getAddress</td>
        </tr>
    </table>
    <h2>Accepted Visitors</h2>
    <br>
    @if(visitors.isEmpty) {
        <table class="table table-striped">
            <tr>
                <td>@restaurant.getRestaurantName has not accepted any visitors<td>
            </tr>
        </table>
    }

    <table class="table table-striped">
    @for(visitor <- visitors) {
        <tr>
            <td><a href="@routes.VisitorController.showVisitorCard(visitor.getFirstName)">@visitor.getFirstName @visitor.getLastName</a></td>
        </tr>
    }
    </table>

    <a class="btn btn-primary" href="">Accept Visitor</a> <a class="btn btn-danger" href="">Kick Out Visitor</a>
}