@import entities.Restaurant

@(restaurant : Restaurant)

<html>

    <head>
        <title>@restaurant.getRestaurantName</title>
    </head>

    <body>

        <h2>@restaurant.getRestaurantName</h2>

        <input value="Remove this restaurant" type="button" onclick="window.location.href='@routes.HomeController.destroyRestaurant(restaurant.getRestaurantName)'"/>

        <br><br>

        <table border="1px solid grey" style="border-collapse: collapse">
            <tr>
                <th colspan="5" style="text-align:center">Information</th>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>@restaurant.getLegalName</td>
            </tr>
            <tr>
                <td>INN</td>
                <td>@restaurant.getInn</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>@restaurant.getAddress</td>
            </tr>

            <tr>
                <th colspan="5" style="text-align:center">Visitors</th>
            </tr>

            @for(visitor <- restaurant.getAcceptedVisitors) {
                <tr>
                    <td colspan="5" style="text-align:center">@visitor.getFirstName @visitor.getLastName</td>
                </tr>
            }
        </table>

        <br>
        <input value="Add visitor" type="submit" onclick=""/> <input value="Remove visitor" type="button" onclick="window.location.href='@routes.HomeController.createRestaurant()'"/>

    </body>

</html>