@import entities.Restaurant
@import helper._

@(restaurant : Restaurant)

<html>

    <head>
        <title>@restaurant.getRestaurantName</title>
    </head>

    <body>

        <h2>@restaurant.getRestaurantName</h2>

        <input value="Edit restaurant" type="button" onclick="window.location.href='@routes.RestaurantController.editRestaurant(restaurant.getRestaurantName)'"/> <input value="Remove restaurant" type="button" onclick="window.location.href='@routes.RestaurantController.destroyRestaurant(restaurant.getRestaurantName)'"/>

        <br><br>

        <table border="1px solid grey" style="border-collapse: collapse">
            <tr>
                <th colspan="5" style="text-align:center">Information</th>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>@restaurant.getLegalName</td>
            </tr>
            <tr>
                <td>INN</td>
                <td>@restaurant.getInn</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>@restaurant.getAddress</td>
            </tr>
        </table>

        <h3>Accepted visitors</h3>

        <form name="kick" method="post">
            <select name='visitors' multiple size="5">
                @for(visitor <- restaurant.getAcceptedVisitors) {
                    <option value=@visitor.getFirstName>@visitor.getFirstName @visitor.getLastName</option>
                }
            </select>
            <br><br>
            <input type="submit" value="Kick visitor">
        </form>

        <h3>Have not visited</h3>

        <input value="Accept visitor" type="button" onclick=""/>

    </body>

</html>