@import entities.Visitor
@import helper._

@(visitor : Visitor)

@layout("@visitor.getFirstName"){
    <h2>@visitor.getFirstName</h2>

    <input value="Edit visitor" type="button" onclick="window.location.href='@routes.VisitorController.editVisitor(visitor.getFirstName)'"/> <input value="Remove visitor" type="submit" onclick="window.location.href='@routes.VisitorController.destroyVisitor(visitor.getFirstName)'"/>

    <br><br>

    <table border="1px solid grey" style="border-collapse: collapse">
        <tr>
            <th colspan="5" style="text-align:center">Information</th>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>@visitor.getLastName</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@visitor.getEmail</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>@visitor.getPhoneNumber</td>
        </tr>

        @*<tr>*@
        @*<th colspan="5" style="text-align:center">Visited restaurants</th>*@
        @*</tr>*@

        @for(restaurant <- visitor.getVisitedRestaurants) {
            @*<tr>*@
            @*<td colspan="5" style="text-align:center"><a href="@routes.RestaurantController.showRestaurantCard(restaurant.getRestaurantName)">@restaurant.getRestaurantName</a></td>*@
            @*</tr>*@
        }
    </table>

    <h3>Visited restaurants</h3>

    <form name="restaurants" method="post">
        <select name='restaurants' multiple size="5">
        @for(restaurant <- visitor.getVisitedRestaurants) {
            <option value=@restaurant.getRestaurantName>@restaurant.getRestaurantName</option>
        }
        </select>
        <br><br>
        <input type="submit" value="Remove restaurant">
    </form>

    <h3>Not visited restaurants</h3>


    <input value="Visit restaurant" type="button" onclick=""/>
}