@import models.Restaurant
@(restaurantForm: Form[Restaurant])(restaurantId: Long)
@import helper._
@import views.html.partials._restaurantFormFields

@layout("Edit Restaurant"){
    <h2>Edit Restaurant</h2>
    <br>
    @helper.form(action = routes.RestaurantController.updateRestaurant(restaurantId)) {

        @_restaurantFormFields(restaurantForm)

        <br>

        <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-check"></i> Edit Restaurant</button>
    }
}