@import models.Restaurant
@import helper._

@(restaurant : Restaurant)(newVisitors : List[Visitor])

@layout(restaurant.getRestaurantName){
    <h2>@restaurant.getRestaurantName</h2>
    @*<var id="restName" hidden>@restaurant.getRestaurantName</var>*@
    <br>
    <a class="btn btn-primary" href="@routes.RestaurantController.editRestaurant(restaurant.getRestaurantName)">Edit Restaurant</a>
    <a class="btn btn-danger" href="@routes.RestaurantController.destroyRestaurant(restaurant.getRestaurantName)">Remove Restaurant</a>

    <br><br>

    <table class="table table-striped">
        <tr>
            <th colspan="5">Information</th>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>@restaurant.getLegalName</td>
        </tr>
        <tr>
            <td>INN</td>
            <td>@restaurant.getInn</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>@restaurant.getAddress</td>
        </tr>
    </table>
    <h2>Accepted Visitors</h2>
    <br>
    @if(restaurant.getAcceptedVisitors.isEmpty) {
        <table class="table table-striped">
            <tr>
                <td>@restaurant.getRestaurantName has not accepted any visitors<td>
            </tr>
        </table>
    }

    <table class="table table-striped">
    @for(visitor <- restaurant.getAcceptedVisitors) {
        <tr>
            <td><a href="@routes.VisitorController.showVisitorCard(visitor.getFirstName)">@visitor.getFirstName @visitor.getLastName</a></td>
        </tr>
    }
    </table>

        <!-- Modal window "Accept" start button -->
    @if(!newVisitors.isEmpty()){
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalAccept">
            Accept Visitor
        </button>
    }

    <!-- Modal window "Kick" start button -->
    @if(!restaurant.getAcceptedVisitors().isEmpty){
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalKick">
            Kick Out Visitor
        </button>
    }

        <!-- Modal window "Accept" -->
    <div class="modal fade" id="myModalAccept" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Select a visitor to be accepted</h4>
                </div>
                <div class="modal-body">

                    <select id="acceptVisitor" class="js-data-example-ajax" style="width: 570px">
                        @for(visitor <- newVisitors) {
                            <option value=@visitor.getFirstName>@visitor.getFirstName @visitor.getLastName</option>
                        }
                    </select>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="acceptVisitorRequest('@restaurant.getRestaurantName')">Accept Visitor</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal window "Kick" -->
    <div class="modal fade" id="myModalKick" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Select the visitor to be kicked</h4>
                </div>
                <div class="modal-body">

                    <select id="kickVisitor" class="js-data-example-ajax" style="width: 570px">
                    @for(visitor <- restaurant.getAcceptedVisitors) {
                        <option value=@visitor.getFirstName>@visitor.getFirstName @visitor.getLastName</option>
                    }
                    </select>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="kickVisitorRequest('@restaurant.getRestaurantName')">Kick Out Visitor</button>
                </div>
            </div>
        </div>
    </div>
}